<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit(compteid)" #operationForm="ngForm">

      <div class="form-group">
        <label for="compteid">Compte</label>
        <select type="text" 
          class="form-control" id="compteid" name="compteid" placeholder="Enter your compteid " [(ngModel)]="compteid">
            <option *ngFor="let compte of comptes" selected value="{{ compte.id}}">{{ compte.id}}</option>
        </select>
      </div>

      <div class="form-group">
            <label for="libelle">libelle</label>
            <input type="text" [(ngModel)]="operation.libelle" 
              class="form-control" id="libelle" name="libelle" placeholder="Enter your libelle "
              required #libelle="ngModel">
            <div [hidden]="!libelle.pristine" class="alert alert-danger">libelle is required</div>
      </div>

      <div class="form-group">
        <label for="montant">montant</label>
        <input type="text" [(ngModel)]="operation.montant" 
          class="form-control" id="montant" name="montant" placeholder="Enter your montant "
          required #montant="ngModel">
        <div [hidden]="!montant.pristine" class="alert alert-danger">montant is required</div>
    </div>

      <div class="form-group">
          <label for="date">date</label>
          <input type="date" [(ngModel)]="operation.date" 
            class="form-control" id="date" name="date" placeholder="Enter your date "
            required #date="ngModel">
          <div [hidden]="!date.pristine" class="alert alert-danger">date is required</div>
      </div>

   

     

      <button type="submit" [disabled]="!operationForm.form.valid" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>