<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Login</th>
          <th scope="col">Password</th>
          <th scope="col">Nom</th>
          <th scope="col">Prenom</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients">
          <td>{{ client.id }}</td>
          <td>{{ client.login }}</td>
          <td>{{ client.password }}</td>
          <td>{{ client.nom }}</td>
          <td>{{ client.prenom }}</td>
          <td>{{ client.dateDeNaissance }}</td>
          
          
          <table class="table table-bordered table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Compte Id</th>
                <th scope="col">Libelle</th>
                <th scope="col">Solde</th>
                <th scope="col">Seuil/Taux</th>
                <th scope="col">Operation</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let compte of client.tabComptes | keyvalue">
                <td>{{ compte.value.id }}</td>
                <td>{{ compte.value.libelle }}</td>
                <td>{{ compte.value.solde }}</td>
                <td *ngIf="compte.value.seuil">{{ compte.value.seuil }}</td> 
                <td *ngIf="compte.value.taux">{{ compte.value.taux }}</td> 
                <td *ngIf="!compte.value.taux && !compte.value.seuil"></td> 

                <table *ngIf="compte.value.operation.length>0" class="table table-bordered table-striped">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Op Id</th>
                      <th scope="col">Libelle</th>
                      <th scope="col">Montant</th>
                      <th scope="col">Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let op of compte.value.operation">
                      <td>{{ op.id }}</td>
                      <td>{{ op.libelle }}</td>
                      <td>{{ op.montant }}</td>
                      <td>{{ op.date }}</td>
                    
            
                    </tr>
                  </tbody>
                </table>

      
              </tr>
            </tbody>
          </table>


        </tr>
      </tbody>
    </table>

    
  </div>
</div>