<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit(userid)" #compteForm="ngForm">

      <div class="form-group">
        <label for="userid">libelle</label>
        <select type="text" 
          class="form-control" id="userid" name="userid" placeholder="Enter your userid " [(ngModel)]="userid">
            <option *ngFor="let client of clients" selected value="{{ client.id}}">{{ client.id}}</option>
        </select>
      </div>

      <div class="form-group">
            <label for="libelle">libelle</label>
            <input type="text" [(ngModel)]="compte.libelle" 
              class="form-control" id="libelle" name="libelle" placeholder="Enter your libelle "
              required #libelle="ngModel">
            <div [hidden]="!libelle.pristine" class="alert alert-danger">libelle is required</div>
      </div>

      <div class="form-group">
          <label for="solde">solde</label>
          <input type="text" [(ngModel)]="compte.solde" 
            class="form-control" id="solde" name="solde" placeholder="Enter your solde "
            required #solde="ngModel">
          <div [hidden]="!solde.pristine" class="alert alert-danger">solde is required</div>
      </div>

   

     

      <button type="submit" [disabled]="!compteForm.form.valid" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>