<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Libelle</th>
          <th scope="col">Montant</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let operation of operations">
          <td>{{ operation.id }}</td>
          <td>{{ operation.libelle }}</td>
          <td>{{ operation.montant }}</td>
          <td>{{ operation.date }}</td>
      </tbody>
    </table>
  </div>
</div>