<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Libelle</th>
          <th scope="col">Solde</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let compte of comptes">
          <td>{{ compte.id }}</td>
          <td>{{ compte.libelle }}</td>
          <td>{{ compte.solde }}</td>
      </tbody>
    </table>
  </div>
</div>