<form #authenticate="ngForm" (ngSubmit)="login()">
  <div class="form-group">
    <input  [(ngModel)]="client.login" id="login" name="login" type="login" placeholder="Login" class="form-control" />
  </div>
  <div class="form-group">
    <input [(ngModel)]="client.password"  id="password" name="password"  type="password" placeholder="Password" class="form-control" />
  </div>
  <button type="submit" color="primary">Login</button>
</form>
