<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
              <li class="list-inline-item"><a routerLink="/home" class="btn btn-info">Log In</a></li>
            <li class="list-inline-item"><a routerLink="/clients" class="btn btn-info">List Clients</a></li>
            <li class="list-inline-item"><a routerLink="/addclient" class="btn btn-info">Add Client</a></li>
            <li class="list-inline-item"><a routerLink="/comptes" class="btn btn-info">List Comptes</a></li>
            <li class="list-inline-item"><a routerLink="/addcompte" class="btn btn-info">Add Compte</a></li>
            <li class="list-inline-item"><a routerLink="/operations" class="btn btn-info">List Operations</a></li>
            <li class="list-inline-item"><a routerLink="/addoperation" class="btn btn-info">Add operation</a></li>
            <li class="list-inline-item"><a *ngIf="auth.isLoggednIn()" (click)="auth.logout()" class="btn btn-info">Log out</a></li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
