<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #clientForm="ngForm">

      <div class="form-group">
            <label for="login">login</label>
            <input type="text" [(ngModel)]="client.login" 
              class="form-control" id="login" name="login" placeholder="Enter your login "
              required #login="ngModel">
            <div [hidden]="!login.pristine" class="alert alert-danger">login is required</div>
      </div>

      <div class="form-group">
          <label for="password">password</label>
          <input type="text" [(ngModel)]="client.password" 
            class="form-control" id="password" name="password" placeholder="Enter your password "
            required #password="ngModel">
          <div [hidden]="!password.pristine" class="alert alert-danger">password is required</div>
      </div>

      <div class="form-group">
        <label for="nom">nom</label>
        <input type="text" [(ngModel)]="client.nom" 
          class="form-control" id="nom" name="nom" placeholder="Enter your nom"
          required #nom="ngModel">
      </div>
      <div [hidden]="!nom.pristine" class="alert alert-danger">Name is required</div>

      <div class="form-group">
        <label for="prenom">prenom</label>
        <input type="text" [(ngModel)]="client.prenom" 
          class="form-control" id="prenom" name="prenom" placeholder="Enter your prenom address"
          required #prenom="ngModel">
        <div [hidden]="!prenom.pristine" class="alert alert-danger">prenom is required</div>
      </div>

      <div class="form-group">
          <label for="dateDeNaissance">date</label>
          <input type="date" [(ngModel)]="client.dateDeNaissance" 
            class="form-control" id="dateDeNaissance" name="dateDeNaissance" placeholder="Enter your date "
            required #dateDeNaissance="ngModel">
          <div [hidden]="!dateDeNaissance.pristine" class="alert alert-danger">date is required</div>
        </div>

      <button type="submit" [disabled]="!clientForm.form.valid" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>